:root {
  // colors
  --background-color-primary: #fff;
  --background-color-secondary: #000;
  --font-color-primary: #000;
  --font-color-secondary: #fff;
  --outline-color-primary: #000;

  // sizes
  --font-size-primary: 18px;
  --font-size-secondary: 24px;

  // shapes
  --border-radius-primary: 6px;
  --transform-scale-push-size: 0.98;

  // fonts
  --font-family-primary: 'Baskervville';
  --font-family-secondary: 'Baskervville'; // 'Roboto' 'PT Sans Narrow' 'PT Sans'
}

[data-theme='dark'] {
  // colors
  --background-color-primary: #fff;
  --background-color-secondary: #000;
  --font-color-primary: #000;
  --font-color-secondary: #fff;
  --outline-color-primary: #000;
}