.burger {
  position: absolute;
  top: 20px;
  left: 16px;
  width: 32px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .burgerLine {
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--background-color-primary);
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.2s ease;
  }

  & span:nth-child(1) {
    top: 0;
  }

  & span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  & span:nth-child(3) {
    bottom: 0;
  }
}

.open span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.open span:nth-child(2) {
  opacity: 0;
}

.open span:nth-child(3) {
  bottom: auto;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}