.controlsRow {
  display: flex;
  justify-content: center;
  gap: var(--gap-primary);
  padding-right: 70px;

  @media (max-width: 1000px) {
    padding-right: 0;
  }

  @media (max-width: 400px) {
    flex-direction: column;
    align-items: center;
  }
}

.counter,
.attempts {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  border: 1px solid var(--border-color-tertiary);
  border-radius: var(--border-radius-primary);

  background: var(--glass-bg-secondary);
  box-shadow: var(--shadow-card-primary);
  backdrop-filter: blur(calc(var(--blur-primary) * 0.75));

  color: var(--text-color-soft);
  font-size: var(--font-size-standard);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-body);
  text-align: center;
}

.attempts {
  min-width: 160px;
}

.counter {
  min-width: 90px;
}