.container {
  position: fixed;
  top: var(--header-height, 60px);
  left: 0;
  z-index: 1;

  width: 17vw;
  height: calc(100vh - var(--header-height));

  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: var(--background-color-secondary);

  transform: translateX(0);
  transition: transform 0.35s ease;

  overflow: hidden;

  @media (min-width: 2000px) {
    width: 10vw;
  }
}

.collapsed {
  transform: translateX(-100%);
}

.menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px 40px;
  overflow-y: auto;
  opacity: 1;
  transform: translateX(0);
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;

  scrollbar-width: none;
  scrollbar-color: var(--background-color-primary) var(--background-color-secondary);
}

.collapsed .menu {
  opacity: 0;
  transform: translateX(-200px);
  pointer-events: none;
}

.menu > * {
  flex-shrink: 0;
}

.menu::-webkit-scrollbar {
  display: none;
}
