.authContainer {
  display: flex;
  color: var(--font-color-primary);

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .header {
      font-weight: normal;
      font-size: var(--font-size-secondary);
    }

    .paragraph {
      text-align: center;
      max-width: 500px;
      font-size: var(--font-size-primary);
    }

    .link {
      font-size: var(--font-size-primary);
    }
  }
}