:root {
  // colors
  --primary-background-color: #fff;
  --secondary-background-color: #000;
  --primary-font-color: #000;
  --secondary-font-color: #fff;

  // sizes
  --primary-font-size: 24px;
  --secondary-font-size: 32px;
}