.button {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50px;
  border-radius: var(--border-radius-primary);
  padding: 10px;
  font-family: var(--font-family-primary), sans-serif;
  font-size: var(--font-size-primary);
  background-color: var(--background-color-secondary);
  color: var(--font-color-secondary);
  cursor: pointer;
  border: none;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease,
    background-color 0.15s ease;

  &:not(:disabled):active {
    transform: scale(var(--transform-scale-push-size));
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}
