.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
  padding: 20px;
}

.subtitle {
  font-size: var(--font-size-primary);
}

.paragraphContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.paragraph {
  max-width: 600px;
  width: 100%;
  font-size: var(--font-size-primary);
}