.input {
  width: 100%;
  box-sizing: border-box;
  padding: var(--padding-primary);
  border: none;
  font-family: inherit;
  background-color: transparent;
  font-size: var(--font-size-primary);
  color: var(--font-color-primary);
  box-shadow: var(--shadow-primary);
  border-radius: 6px;
}

.input:focus {
  outline: 1px solid var(--outline-color-primary);
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}

.input[data-error='true'] {
  border-color: var(--error-color-primary);
  animation: shake 0.35s;
}
