.container {
  display: flex;
  flex-direction: column;
}

.main {
  padding-top: 8vh;
  height: 100%;
  background: var(--bg-color-gradient-primary), linear-gradient(180deg, #0f0f10 0%, #090909 100%);

  @media (max-width: 960px) {
    padding-top: 16vh;
  }
}
