@font-face {
  font-family: 'Baskerville';
  src: local('Baskerville Bold Italic'), local('Baskerville-BoldItalic'),
  url('./Baskerville/Baskerville-BoldItalic.woff2') format('woff2'),
  url('./Baskerville/Baskerville-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Baskerville';
  src: local('Baskerville Light'), local('BaskervilleLight'),
  url('./Baskerville/BaskervilleLight.woff2') format('woff2'),
  url('./Baskerville/BaskervilleLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BaskervilleLightA';
  src: local('Baskerville-Light'), local('Baskerville-LightA'),
  url('./Baskerville/Baskerville-LightA.woff2') format('woff2'),
  url('./Baskerville/Baskerville-LightA.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baskerville';
  src: local('Baskerville Bold'), local('BaskervilleBold'),
  url('./Baskerville/BaskervilleBold.woff2') format('woff2'),
  url('./Baskerville/BaskervilleBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baskerville';
  src: local('Baskerville Light Italic'), local('Baskerville-LightItalic'),
  url('./Baskerville/Baskerville-LightItalic.woff2') format('woff2'),
  url('./Baskerville/Baskerville-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Baskervville';
  src: local('Baskervville Regular'), local('Baskervville-Regular'),
  url('./Baskerville/Baskervville-Regular.woff2') format('woff2'),
  url('./Baskerville/Baskervville-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

