@use '@/shared/global-styles/scss/common-form' as form;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.inputsContainer {
  display: flex;
  gap: 10px;
  width: 100%;

  @media (max-width: 640px) {
    flex-direction: column;
  }
}

.inputContainer {
  @include form.inputContainer(15px);
  width: 100%;
}

.errorSlot {
  @include form.errorSlot;
  bottom: 55px;
}

.errorSlotTerms {
  @include form.errorSlot;
  bottom: 47px;
}

.checkBoxLinkContainer {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.link {
  text-decoration: underline;
  text-underline-offset: 5px;
}
