.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .inputsContainer {
    display: flex;
    gap: 10px;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .inputLabel {

    }
  }

  .checkBoxLinkContainer {

  }

  .link {
    text-decoration: underline;
    text-underline-offset: 5px;
  }
}