@use '@/shared/globalStyles/scss/commonForm' as form;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .inputContainer {
    @include form.inputContainer;
  }

  .errorSlot {
    @include form.errorSlot;
  }

  .checkBoxLinkContainer {
    display: flex;
    justify-content: space-between;
  }

  .serverError {
    @include form.serverError;
  }
}
