.container {
  background-color: var(--background-color-secondary);
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 40px;
}