@use '@/shared/global-styles/scss/mixins' as mixins;

.container {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: var(--gap-primary);

  width: 100%;
  max-width: var(--max-width-secondary);

  @include mixins.glassPanel;
}

.header {
  position: relative;
  z-index: 1;

  margin: 0;

  font-size: var(--font-size-title);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-title);

  text-align: center;
  color: var(--text-color-secondary);
}