.linkAsButton {
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 50px;
  padding: 10px;

  border-radius: var(--border-radius-primary);

  font-family: var(--font-family-primary), sans-serif;
  font-size: var(--font-size-primary);

  background-color: var(--bg-color-secondary);
  color: var(--text-color-secondary);

  text-decoration: none;
  cursor: pointer;
  outline: 1px solid var(--text-color-secondary);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);

  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease,
    background-color 0.15s ease;

  &:active {
    transform: scale(var(--transform-scale-push-size));
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  &:focus-visible {
    outline: 2px solid var(--accent-color-primary);
    outline-offset: 2px;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.6;
    cursor: not-allowed;
    background-color: var(--bg-color-primary);
  }
}
