.container {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  border: none;
  font-family: inherit;
  background-color: transparent;
  font-size: var(--font-size-primary);
  color: var(--text-color-primary);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  resize: none;
  min-height: 80px;
}

.container:focus {
  outline: 1px solid var(--outline-color-primary);
}
