@mixin container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  min-height: 70vh;
}

@mixin header {
  font-size: var(--font-size-secondary);
}

@mixin paragraph {
  max-width: 600px;
  width: 100%;
  font-size: var(--font-size-primary);
}