@use '@/shared/global-styles/scss/common-form' as form;

@mixin container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@mixin inputContainer {
  @include form.inputContainer;
}

@mixin errorSlot {
  @include form.errorSlot;
}

@mixin serverMessage {
  @include form.serverMessage;
}
